.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-horizontal img {
    width: 100%;
    height: auto;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}