body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #ccc;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #444;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

h1 {
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

input:focus {
	border-color: #aaa;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #444;
}
.img-fluid {
	margin-top: 12.4rem;
}
.card {
	border-radius: 10px;
	background-color: #fbd314;
	margin-top: 2.4rem;
}
input, textarea {
	background-color: #160c51;
	color: white;
}