@charset "UTF-8";

.song-container {
	margin-left: 18.5rem !important;
}
.music-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 74%;
	background-color: #f0f0f0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.play-icon {
	flex: 0 0 auto;
	margin-right: 10px;
}
.play-icon i {
	font-size: 14px;
	color: #333;
}
.music-details {
	flex: 1 1 auto;
	margin-left: 25px !important;
	
}
.title {
	font-weight: bold;
}
.song-time {
	flex: 0 0 auto;
	font-size: 14px;
	color: #666;
}
@media (max-width: 720px) {
	.song-container {
	   margin-left: 0rem !important;
	}
	.music-card {
	   padding: 0px !important;
	}
	
	.card {
	   margin-left: -5rem !important;
	   display: flex;
	   justify-content: center;
	   align-items: center;
	}
	.card1 {
	   margin-left: 0rem !important;
	}
}
.lyrics-container {
    height: 200px; /* Adjust this value as needed */
    overflow-y: auto;
}

.lyrics {
    padding: 10px;
}

.lyrics div {
    margin-bottom: 5px;
}

.lyrics .highlighted {
    background-color: yellow;
}


.icon {
	color: black;
	position: relative;
}

.icon::after {
  content: "Add to Favorites"; /* Text content */
  position: absolute; /* Position absolutely */
  top: 100%; /* Position it below the heart icon */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it horizontally */
  background-color: black; /* Background color */
  color: white; /* Text color */
  padding: 3px 8px; /* Padding for better readability */
  border-radius: 3px; /* Rounded corners */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Smooth transition effect */
  font-size: 12px !important;
  width: 100px;
  height: auto;
}

/* Show text on hover */
.icon:hover::after {
  opacity: 1; /* Show text on hover */
}
@media (max-width: 720px){
	.results {
	   margin-left: 1rem !important;
	}
	.song-container {
	    margin-left: 0rem !important;
	    width: 150%;
	}
}

