@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fff;
}

.side-navbar {
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 18px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	background-color: #400080;
	width: 250px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
}


.activites:active,
.activites:focus,
.activites:hover {
	background-color: white;
	cursor: pointer;
}
.my-container {
	transition: 0.4s;
}


.active-nav {
	margin-left: 0;
}

/* for main section */



.active-cont {
	margin-left: 250px;
}
#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

.my-container input {
	border-radius: 2rem;
	padding: 2px 20px;
}
.social-media {
	display: inline-block;
	margin-bottom: 130px;
	margin-left: 1rem;
	font-size: 22px;
}

.social-media a {
	color: white;	
	display: inline-block;
	margin-right: 20px !important;
}

.social-desc {
    color: white !important;
    text-decoration: none !important;
    margin-left: 1rem;
}

.dropdown-menu {
	margin-right: 5rem !important;
}
.container {
	margin-right: 7rem;
}
.card-container {
	display: flex;
	align-items: center;
	font-family: 'Prompt', sans-serif;
	top: 0rem;
	border-radius: 10px;
	max-width: 150vh;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
.fa-plus {
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	top: 0;
	margin-bottom: 2px;
	font-size: 32px;
	cursor: pointer;
}
.fa-plus:hover {
	transform: scale(1.2);
}
.card {
	background-color: #1E1745 !important;
}
.card1 {
	margin-left: 10rem;
}
@media (max-width: 768px) {
    .container {
        margin-right: 5rem;
    }

    .card1 {
        overflow: hidden;
        margin-left: 3rem !important;
    }

    .card-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card1 {
        margin-left: 0;
    }
}

.card-title {
	margin-bottom: 10px;
	
}
.card-text {
	margin-bottom: 15px;
}
.card-title,
.card-text {
	color: white;
}
.card-img {
	width:20%;
	height: 20%;
	border-radius: 20px;
	float: left;
	margin-right: 20px;
}
.text-content {
	padding-left: 0;
}
.card1 {
	margin-left: 2rem;
}

.btn-login {
    color: #252537;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;

    outline: none;
    border: none;
  
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn-login:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.btn-login:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(5px);
    }
}
.submits {
    float: left;
}

.card-img:hover {
	animation: imageani 0.4s ease-in-out infinite alternate;
}
@keyframes imageani {
	0%{
	   transform: translateZ(0px);
	}
	50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.search-input {
	outline: 0;
	border: 0;
}



/*Modal design */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-left: 20rem !important;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.close {
	color: #aaa;
	float: right;
	margin-left: 43rem;
	font-size: 32px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-heading {
	text-align: start;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal-desc {
	font-family: sans-serif;
}
.login-btn {
	display: flex;
	align-items: center;
	text-align: center;
	width: 20%;
	height: auto;

}

@media (max-width: 760px) {
	.side-navbar {
	    padding: 0px 0 0 ;
	    width: 150px;
	}
	.active-cont {
	   margin-left: 150px;
	}
	.card-container {
		padding-left: 7rem;
		width: 100% !important;
		height: auto;
	}
	
}








